* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  background: #34373a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: black;
}

.nav_right {
  margin-right: 35px;
}
.bool {
  margin-left: 35px;
  font-size: 30px;
  color: red;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
  height: auto;

}
.entry {
  margin: 0 10px;
  position: relative;
  color: white;
}

ul {
  list-style: none;
}

.entry {
  display: inline-block;
}
.entry:hover .hover {
  display: block;
}
#yellow {
  color: yellow;
}
.flag {
  max-width: 40px;
}

.hover {
  overflow-y: auto;
  position: absolute;
  top: 0;
  background: black;
  width: 342px;
  height: 520px;
  color: white;
  padding: 10px;
  display: none;

}

.hover li {
  margin-top: 25px;
}

#search {

  font-size: 15px;
  border: none;
  outline: none;
}

#button {

  font-size: 15px;
  padding: 0 15px;
}

#search::placeholder {
  font-size: 13px;
}
