* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #34373a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: black;
}

.nav_right {
  margin-right: 35px;
}
.bool {
  margin-left: 35px;
  font-size: 30px;
  color: red;
}
.container {
  padding: 50px;
  width: 100%;
  height: auto;

}
.entry {
  position: relative;
  color: white;
}

ul {
  list-style: none;
}

.entry {
  display: inline-block;
}
.entry:hover .hover {
  display: block;
}
#yellow {
  color: yellow;
}
.flag {
  max-width: 40px;
}

.hover {
  position: absolute;
  top: 0;
  background: black;
  width: 342px;
  height: 512px;
  color: white;
  padding: 10px;
  display: none;

}

.hover li {
  margin-top: 25px;
}
